
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>sahal vazha</h1>
    <a href="{%url 'addition'%}">addition</a>
    <a href="{%url 'subraction'%}">subtraction</a>
    <a href="{%url 'multiplication'%}">multiplication</a>
    <a href="{%url 'division'%}">division</a>
    <a href="{%url 'cube'%}">cube</a>
    <a href="{%url 'factorial'%}">factorial</a>
    <a href="{%url 'BMI'%}">BMI</a>
    <a href="{%url 'BMR'%}">BMR</a>
    <a href="{%url 'emi'%}">EMI</a>
    <a href="{%url 'weightgain'%}">WEIGHT</a>
    <a href="{%url 'milage'%}">Milage</a>
    <a href="{%url 'percentage'%}">percentage</a>
    <a href="{%url 'conversion'%}">Conversion</a>
    <a href="{%url 'years'%}">year</a>
    <a href="{%url 'signup'%}">signup</a>
    <a href="{%url 'customer'%}">customer</a>
    
</body>
</html>