
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>subtraction</h1>

    <div class="container">


        <form action="" method="post">
            {%csrf_token%}
            <div>
                <label for="">enter num1</label>
                <input type="text" name="num1">
            </div>
            <div>
                <label for="">enter num2</label>
                <input type="text" name="num2">
            </div>
            <div>
                <button type="submit">sub</button>
            </div>
        </form>
        {{result}}
    </div>
</body>
</html>