<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form action="" method="post">
            {%csrf_token%}
            {{form}}
            <button type="submit">submit</button>
        </form>
        {%if result%}
        <h1>{{result}}</h1>
      {%endif%}

      {%if result2%}
      <h1>{{result2}}</h1>
      {%endif%}
    </div>
</body>

</html>