

body{

    background-color: black;
}

#main{

    color: aqua;

    text-align: center;

    text-decoration: line-through;
}

#second{

    color: burlywood;

    text-align: center;

    text-decoration: double;
}